*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
}

.result {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  width: 100%;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  width: fit-content;
}

.search-form__label-text {
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
}

.search-form__textfield {
  min-width: 225px;
  background: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  padding: 2.5px 0;
  appearance: none;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  position: relative;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.button {
  background: transparent;
  border: 1px solid currentColor;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 0;
  text-align: center;
}
/*2*/
.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}

.more-button {
  width: 100%;
  margin-top: 30px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
  text-decoration: none;
}

.content__details {
  width: 399px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-transform: uppercase;
  color: #fff;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
  position: relative;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list-item {
  padding: 0 2px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 2px;
  cursor: pointer;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:active {
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.content__video-card-description-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-width: 200px;
  max-height: 64.8px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.preloader-chasing-squares {
  display: flex;
  gap: 5px;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(27, 25, 25, 0.9);
  text-align: center;
  z-index: 10;
}

.error__title {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: #545050;
}
